/* Ocelot's Type Globals */
@color_one: #FFFFFF;
@color_two: #363530;
@hover: #AA443C;
@header_font: Franchise;
@text_font: Arial;
@min_width: 750px;

/* Ocelot's Format Globals */
@header_height: 41px;

@import "reset.less";
@import "type.less";

/*
*
* HEADER
*
*/

header#main_header {
    height: @header_height;
    width: 100%;
    position: fixed;
    background-color: @color_two;

    #logo {
        float: left;
        display: block;
        padding: 10px 5px;
        margin: 0 10px;
    }

    #main_nav {
        float: left;

        ul {
            li {
                float: left;

                a {
                    display: block;
                    padding: 15px 5px 14px 5px;
                }
            }

            li.search {
                padding: 8px 5px;

                input {
                    line-height: 16px;
                    width: 225px;
                }
            }
        }
    }

    #account_nav {
        float: right;
        margin: 0 10px;

        ul {
            li {
                float: right;

                img {
                    padding-top: 10px;
                }

                a {
                    display: block;
                    padding: 15px 5px 14px 5px;
                }
            }
        }
    }
}

.body {
    /* 
    * Clearing the timeline causes a 2px top padding above the
    * timeline in Google Chrome
    */
    clear: both;
    padding-top: @header_height;
    white-space: nowrap;
}