header#main_header {
    a {
        color: @color_one;
        font-size: 12px;

        &:hover {
            color: @hover;
        }
    }

    #logo {
        font-family: @header_font;
        font-size: 24px;

    }

    nav {
        font-family: @text_font;
    }
}

div.timeline {
    color: @color_two;
    font-size: 12px;

    h2 {
        font-size: 16px;
        padding-bottom: 2px;
    }

    a {
        font-family: @text_font;

        &:hover {
            text-decoration: underline;
        }
    }

    div {
        font-family: @text_font;
        font-size: 12px;
    }
}