h1 {
    font-family: @header_font;
    font-size: 30px;
}

a {
    font-family: @text_font;
    font-size: 12px;
    
    &:hover {
        text-decoration: underline;
    }
}

div#header {
    a {
        color: @color_one;

        &:hover {
            color: @hover;
            text-decoration: none;
        }
    }

    #logo {
        font-family: @header_font;
        font-size: 24px;
    }

    nav {
        font-family: @text_font;
    }
}